[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "social-icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}
.icon-github:before { content: '\e800'; } /* 'î €' */
.icon-google-plus:before { content: '\e801'; } /* 'î ' */
.icon-vimeo:before { content: '\e803'; } /* 'î ƒ' */
.icon-facebook:before { content: '\e804'; } /* 'î „' */
.icon-child:before { content: '\e805'; } /* 'î …' */
.icon-thumbs-up:before { content: '\e806'; } /* 'î †' */
.icon-flickr:before { content: '\e807'; } /* 'î ‡' */
.icon-info:before { content: '\e808'; } /* 'î ˆ' */
.icon-tumblr:before { content: '\e809'; } /* 'î ‰' */
.icon-instagram:before { content: '\e80a'; } /* 'î Š' */
.icon-twitter:before { content: '\e80b'; } /* 'î ‹' */
.icon-linkedin:before { content: '\e80c'; } /* 'î Œ' */
.icon-pinterest:before { content: '\e80e'; } /* 'î Ž' */
.icon-dribbble:before { content: '\e80f'; } /* 'î ' */
.icon-steam:before { content: '\e810'; } /* 'î ' */
.icon-youtube:before { content: '\e811'; } /* 'î ‘' */
.icon-at:before { content: '\e812'; } /* 'î ’' */
.icon-briefcase:before { content: '\e813'; } /* 'î “' */
.icon-leaf:before { content: '\e814'; } /* 'î ”' */
.icon-address:before { content: '\e815'; } /* 'î •' */
.icon-user-outline:before { content: '\e816'; } /* 'î –' */
.icon-soundcloud:before { content: '\e818'; } /* 'î ˜' */
.icon-reddit:before { content: '\e819'; } /* 'î ™' */
.icon-deviantart:before { content: '\e81a'; } /* 'î š' */

/* NORMALIZE */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}

[hidden]{display:none}

html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0}

a:focus{outline:thin dotted}
a:active,a:hover{outline:0}

h1{font-size:2em;margin:0.67em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em}
pre{white-space:pre-wrap}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
small{font-size:80%}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}

img{border:0}
svg:not(:root){overflow:hidden}

figure{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0}

button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

textarea{overflow:auto;vertical-align:top}

table{border-collapse:collapse;border-spacing:0}

.left { float: left !important; }
.right { float: right !important; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.hide { display: none; }
.antialiased { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

html { font-size: 62.5%!important; }

body {
	background: #121517 url(/images/backgrounds/bg@2x.png);
	background-size: 520px 520px;
	font: 1.8rem "Alegreya", Georgia, serif;
	color: #838896;
	overflow-x: hidden;
}

a, a:link, a:visited {
	color: #B4AF35;
	text-decoration: none;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
a:hover, a:active, a:focus {
	outline: none;
	color: #57B250;
}

::-moz-selection {
	background: #a7212f;
	color: #fff;
}
::selection {
	background: #a7212f;
	color: #fff;
}

p {
	font-size: 1.8rem;
	line-height: normal;
}
* p:first-child, h1 + p, h2 + p {
	margin-top: 0;
}
h3 + p {
	margin-top: .5rem;
}
* p:last-child {
	margin-bottom: 0;
}

h1 {
	font: 4rem "sinner", sans-serif;
	text-transform: uppercase;
	color: #a7212f;
	letter-spacing: .1rem;
	margin: 0;
}
h2 {
	text-transform: uppercase;
	font: 400 2.5rem "sinner", sans-serif;
	letter-spacing: .1rem;
	text-align: center!important;
	color: #fff;
	margin: 0 0 1.5rem;
}
	@media only screen and (min-width: 40.063em) {
		h2 {
			font-size: 3rem;
		}
	}
h3 {
	margin: 0;
	text-align: center;
	font: 400 2.4rem "sinner", sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .1rem;
}

.link-object {
	display: block;
}

object {
	pointer-events: none;
}

object, object img {
	width: 100%;
	height: 100%;
}

.texture {
	-webkit-mask-image: url(/images/backgrounds/mask.png);
	-moz-mask-image: url(/images/backgrounds/mask.png);
	-o-mask-image: url(/images/backgrounds/mask.png);
	mask-image: url(/images/backgrounds/mask.png);
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	.texture {
		-webkit-mask-size: 50% 50%;
		-moz-mask-size: 50% 50%;
		-o-mask-size: 50% 50%;
		mask-size: 50% 50%;
	}
}

.section {
	background: #181b1d url(/images/backgrounds/bg-dark@2x.png);
	background-size: 520px 520px;
	margin-bottom: 4rem;
	padding: 3rem 0;
}

.row {
	max-width: 1000px;
}

#logo {
	max-width: 300px;
}
h1 a .kerning:first-child {
	color: #fff;
}
h1 a .kerning:last-child {
	color: #a7212f;
}
h1 a .kerning:first-child .char7 {
	letter-spacing: 1rem;
}

#nav {
	margin-top: 5rem;
	margin-bottom: 3rem;
}
#logo-table {
	display: table;
	margin: 0 auto;
}
	#logo-icon {
		display: table-cell;
		vertical-align: middle;
		height: 10rem;
		width: 10.8rem;
		margin-right: 2rem;
	}
	#logo-menu {
		display: table-cell;
		vertical-align: middle;
	}
		#logo-menu h1 {
			margin-bottom: .5rem;
		}
		#logo-menu ul {
			padding: 0;
			margin: 0;
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: #31363b;
			-moz-border-image: -moz-linear-gradient(left, rgba(49,54,59,0) 0%, rgba(49,54,59,1) 33%, rgba(49,54,59,1) 66%, rgba(49,54,59,0) 100%) 100% 1 stretch;
			-webkit-border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(49,54,59,0)), color-stop(33%,rgba(49,54,59,1)), color-stop(66%,rgba(49,54,59,1)), color-stop(100%,rgba(49,54,59,0))) 100% 1 stretch;
			-webkit-border-image: -webkit-linear-gradient(left, rgba(49,54,59,0) 0%,rgba(49,54,59,1) 33%,rgba(49,54,59,1) 66%,rgba(49,54,59,0) 100%) 100% 1 stretch;
			-o-border-image: -o-linear-gradient(left, rgba(49,54,59,0) 0%,rgba(49,54,59,1) 33%,rgba(49,54,59,1) 66%,rgba(49,54,59,0) 100%) 100% 1 stretch;
			-ms-border-image: -ms-linear-gradient(left, rgba(49,54,59,0) 0%,rgba(49,54,59,1) 33%,rgba(49,54,59,1) 66%,rgba(49,54,59,0) 100%) 100% 1 stretch;
			border-image: linear-gradient(to right, rgba(49,54,59,0) 0%,rgba(49,54,59,1) 33%,rgba(49,54,59,1) 66%,rgba(49,54,59,0) 100%) 100% 1 stretch;
			list-style: none;
			text-align: center;
			font: 400 1.4rem "Alegreya Sans", sans-serif;
			text-transform: uppercase;
			letter-spacing: .1rem;
		}
			#logo-menu li {
				display: inline-block;
			}
				#logo-menu li a {
					padding: .5rem .8rem;
					display: block;
				}
				#logo-menu li a:hover, #logo-menu li a:active, #logo-menu li a:focus {
					background: #181b1d url(/images/backgrounds/bg-dark@2x.png);
					background-size: 520px 520px;
				}
		#mobile-nav {
			background: #31363b;
			margin-bottom: 4rem;
		}
			#mobile-nav .menu-icon span:after {
				margin-top: -.7rem;
			}
			.middle a {
				display: table;
				height: 2.8rem;
				text-align: center;
				margin: 0 auto;
			}
				.middle a h1 {
					display: table-cell;
					vertical-align: middle;
				}
				.middle object, .middle img {
					display: table-cell;
					vertical-align: middle;
					padding: .5rem;
					height: 2.8rem;
					max-width: 3.5rem;
				}
		.left-off-canvas-menu {
			background: #31363b;
		}
			.off-canvas-list li label {
				font: 700 1rem "Alegreya Sans", sans-serif!important;
				letter-spacing: .1rem;
				background: #777f87!important;
				color: #121517!important;
			}
			.off-canvas-list li a {
				font: 400 1.4rem "Alegreya Sans", sans-serif;
				text-transform: uppercase;
				letter-spacing: .1rem;
			}
		.exit-off-canvas {
			box-shadow: none!important;
		}

#mission {
	line-height: 3.2rem;
}

#mission p span {
	color: #bbb;
	font-weight: 700;
}

#bottom {
	padding: 0 0 4rem;
	font-size: 75%;
}

/* ======= ABOUT ======= */
.headshot {
	position: relative;
}
	.headshot img {
		display: block;
		position: relative;
		border-radius: 100rem;
		margin: 0 auto 2rem;
		width: 100%;
		max-width: 30rem;
		background: #31363b url(/images/backgrounds/bg-medium@2x.png);
		background-size: 520px 520px;
		padding: 1rem;
		z-index: 2;
	}
	.headshot:before {
		content: "";
		display: block;
		position: absolute;
		background: #31363b url(/images/backgrounds/bg-medium@2x.png);
		background-size: 520px 520px;
		z-index: 1;
	}
	@media only screen and (max-width: 40.062em) {
		.headshot:before {
			width: 1rem;
			height: 10rem;
			left: 50%;
			margin-left: -.5rem;
			bottom: -5rem;
		}
	}
	@media only screen and (min-width: 40.063em) {
		.headshot:before {
			width: 10rem;
			height: 1rem;
			top: 50%;
			margin-top: -.5rem;
			right: -5rem;
		}
	}

.info {
	position: relative;
	z-index: 2;
}
	.info h2 {
		display: table;
		vertical-align: middle;
		margin: 0;
		width: 100%;
		padding: 3rem 3rem 2rem;
	}
		.info h2 small {
			display: block;
			font: 400 1.8rem "Alegreya", serif;
			text-transform: none;
			letter-spacing: 0;
			color: #838896;
		}
	.info ul {
		margin: 0 3rem;
		padding: 2rem 0 0;
		list-style: none;
		text-align: center;
	}
		.social {
			border-top: 1px solid;
			border-bottom: 0;
			border-color: #777f87;
			-moz-border-image: -moz-linear-gradient(left, rgba(119,127,135,0) 0%, rgba(119,127,135,1) 33%, rgba(119,127,135,1) 66%, rgba(119,127,135,0) 100%) 100% 1 stretch;
			-webkit-border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(119,127,135,0)), color-stop(33%,rgba(119,127,135,1)), color-stop(66%,rgba(119,127,135,1)), color-stop(100%,rgba(119,127,135,0))) 100% 1 stretch;
			-webkit-border-image: -webkit-linear-gradient(left, rgba(119,127,135,0) 0%,rgba(119,127,135,1) 33%,rgba(119,127,135,1) 66%,rgba(119,127,135,0) 100%) 100% 1 stretch;
			-o-border-image: -o-linear-gradient(left, rgba(119,127,135,0) 0%,rgba(119,127,135,1) 33%,rgba(119,127,135,1) 66%,rgba(119,127,135,0) 100%) 100% 1 stretch;
			-ms-border-image: -ms-linear-gradient(left, rgba(119,127,135,0) 0%,rgba(119,127,135,1) 33%,rgba(119,127,135,1) 66%,rgba(119,127,135,0) 100%) 100% 1 stretch;
			border-image: linear-gradient(to right, rgba(119,127,135,0) 0%,rgba(119,127,135,1) 33%,rgba(119,127,135,1) 66%,rgba(119,127,135,0) 100%) 100% 1 stretch;
		}
			.social li {
				display: inline-block;
				margin: 0 1rem 2rem;
			}
				.social li a {
				font-size: 1.8rem;
					display: table-cell;
					vertical-align: middle;
					color: #fff;
					width: 4rem;
					height: 4rem;
					background: #121517 url(/images/backgrounds/bg@2x.png);
					background-size: 520px 520px;
					border-radius: 100rem;
				}
				.social li a:hover, .social li a:active, .social li a:focus {
					background: #777f87 url(/images/backgrounds/bg-light@2x.png);
					background-size: 520px 520px;
				}
		.resp {
			border-top: 1px solid;
			border-bottom: 1px solid;
			border-color: #777f87;
			-moz-border-image: -moz-linear-gradient(left, rgba(119,127,135,0) 0%, rgba(119,127,135,1) 33%, rgba(119,127,135,1) 66%, rgba(119,127,135,0) 100%) 100% 1 stretch;
			-webkit-border-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(119,127,135,0)), color-stop(33%,rgba(119,127,135,1)), color-stop(66%,rgba(119,127,135,1)), color-stop(100%,rgba(119,127,135,0))) 100% 1 stretch;
			-webkit-border-image: -webkit-linear-gradient(left, rgba(119,127,135,0) 0%,rgba(119,127,135,1) 33%,rgba(119,127,135,1) 66%,rgba(119,127,135,0) 100%) 100% 1 stretch;
			-o-border-image: -o-linear-gradient(left, rgba(119,127,135,0) 0%,rgba(119,127,135,1) 33%,rgba(119,127,135,1) 66%,rgba(119,127,135,0) 100%) 100% 1 stretch;
			-ms-border-image: -ms-linear-gradient(left, rgba(119,127,135,0) 0%,rgba(119,127,135,1) 33%,rgba(119,127,135,1) 66%,rgba(119,127,135,0) 100%) 100% 1 stretch;
			border-image: linear-gradient(to right, rgba(119,127,135,0) 0%,rgba(119,127,135,1) 33%,rgba(119,127,135,1) 66%,rgba(119,127,135,0) 100%) 100% 1 stretch;
		}
			.resp li {
				display: inline-block;
				background: #121517 url(/images/backgrounds/bg@2x.png);
				background-size: 520px 520px;
				padding: .3rem 1.5rem .5rem;
				margin: 0 .5rem 2rem;
				border-radius: 100rem;
				font: 500 1.4rem "Alegreya Sans", sans-serif;
			}
	.info > div {
		background: #31363b url(/images/backgrounds/bg-medium@2x.png);
		background-size: 520px 520px;
		margin-bottom: 5rem;
	}
	.info:last-child div {
		margin-bottom: 0;
	}
	.info .border {
		margin: 0 7rem;
		border: 0;
		height: 0;
		background: #777f87;
	}
	.info p {
		margin: 0;
		padding: 2rem 3rem;
	}

/* ======= CONTACT ======= */
.contact h3 + p {
	margin: .5rem 0 3rem;
}
#social {
	padding-bottom: 2rem;
}
	#social ul {
		list-style: none;
		padding: 0;
		margin: 1rem 0 0;
		text-align: center;
	}
		#social li {
			display: inline-block;
			margin: 1rem 1.5rem;
		}
			#social li a {
				display: table-cell;
				vertical-align: middle;
				color: #fff;
				font-size: 2.4rem;
				width: 6rem;
				height: 6rem;
				background: #31363b url(/images/backgrounds/bg-medium@2x.png);
				background-size: 520px 520px;
				border-radius: 100rem;
			}
			#social li a:hover, #social li a:active, #social li a:focus {
				background: #777f87 url(/images/backgrounds/bg-light@2x.png);
				background-size: 520px 520px;
			}
.alert-box {
	font: 400 1.8rem "Alegreya Sans", sans-serif;
	text-align: center;
	margin-bottom: 2rem;
}
	.alert-box.alert {
		background: #a7212f;
	}
	.alert-box.success {
		background: #B4AF35;
	}
	.alert-box .close {
		font-size: 2.4rem;
	}
form {
	background: #31363b url(/images/backgrounds/bg-medium@2x.png);
	background-size: 520px 520px;
	padding: 1rem 1.5rem;
}
	form label {
		font: 1.4rem "Alegreya Sans", sans-serif;
		margin-bottom: .5rem;
		color: #fff;
	}
	form li.error {
		color: #a7212f;
	}
	form small.error {
		font: italic 400 1.4rem "Alegreya Sans", sans-serif!important;
		background: #a7212f;
	}
	form input, form textarea {
		font-size: 1.8rem!important;
		height: auto!important;
		background: #777f87 url(/images/backgrounds/bg-light@2x.png);
		background-size: 520px 520px;
		padding: .7rem!important;
		border: 0!important;
		outline: none!important;
		color: #fff!important;
	}
	form input:focus, form textarea:focus {
		color: #838896!important;
	}
	form input {
		font-family: "Alegreya", serif!important;
	}
	form textarea {
		max-height: 15rem!important;
	}
	form input.button {
		display: block;
		margin: 1rem auto 0;
		font: 400 1.4rem "Alegreya Sans", sans-serif!important;
		text-transform: uppercase;
		letter-spacing: .1rem;
	}
	form input.button:active, form input.button:focus {
		background: #121517 url(/images/backgrounds/bg@2x.png);
		background-size: 520px 520px;
		color: #fff;
	}

/* ======= LORE ======= */
a.button {
	display: block;
	margin: 0 auto;
	background: #31363b url(/images/backgrounds/bg-medium@2x.png);
	background-size: 520px 520px;
	font: 400 1.4rem "Alegreya Sans", sans-serif!important;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .1rem;
}
a.button:hover, a.button:active, a.button:focus {
	background: #777f87 url(/images/backgrounds/bg-light@2x.png);
	background-size: 520px 520px;
	color: #fff;
}
.faction {
	margin-top: 5rem;
	padding: 2rem 3rem;
	background: #31363b url(/images/backgrounds/bg-medium@2x.png);
	background-size: 520px 520px;
}
	.flag {
		position: relative;
	}
		.flag img {
			display: block;
			margin: 0 auto 1rem;
			max-height: 15rem;
			opacity: .2;
		}
		.faction h3 {
			position: absolute;
			top: 4rem;
			margin: 0;
			z-index: 99;
			width: 100%;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			font: 3rem "American Brewery", sans-serif;
			letter-spacing: .2rem;
		}
		@media only screen and (min-width: 40.063em) {
			.faction h3 {
				font: 5rem "American Brewery", sans-serif;
				letter-spacing: .5rem;
			}
		}
#preview {
	padding: 1.5rem 0;
}
	#preview a {
		margin: 1.5rem 0;
	}

















